extends ./layouts/layout.jade

block append head
    link(rel="stylesheet", href="/css/" + process.env.BUILD_CSS_FILENAME)
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

block body
    script(src="/js/" + process.env.BUILD_POLYFILL_FILENAME)
    script(src="/js/" + process.env.BUILD_REDUX_FILENAME)
    script(src="/js/" + process.env.BUILD_DEKU_FILENAME)
    script(src="/js/" + process.env.BUILD_APP_FILENAME)

